/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a,
a:visited {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
}


.container {
    max-width: 1170px;
    margin: 0 auto;
}

header {
    height: 80px;
    display: flex;
    width: 100%;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
    justify-content: space-between;
}

.header__left,
.header__form {
    padding-top: 20px;
    padding-bottom: 20px;
}

.header__right {
    padding-left: 60px;
}

.header__form {
    width: 100%;
    flex: 0 1 763px;
    display: flex;
}

.logo {
    flex: 0 0 136px;
    margin-right: 60.96px;
}

.profile {
    display: none;
}

.search-form {
    width: 100%;
    flex: 0 1 763px;
    display: flex;

}

.search-form input {
    border: 1px solid #EBEBF1;
    border-radius: 5px;
    flex: 0 1 763px;
    padding-left: 39px;
    background: url('https://i.ibb.co/TwKpRQF/search.png');
    background-repeat: no-repeat;
    background-position: 14px 12px;
    color: #BBC4D6;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    height: 41px;

}

.search-symbol {
    height: 16px;
    width: 16px;
    position: absolute;
    top: 12px;
    left: 12px;
}


.user {
    display: flex;
    align-items: center;
    border-left: 1px solid #EBEBF1;
    padding-left: 19px;
    margin-left: 60px;

}

.user__name {
    display: inline-block;
    font-size: 14px;
    line-height: 120%;
    color: #768298;
    padding-right: 10px;

}

.partners {
    padding-top: 70px;
}


.main-title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 36px;
    line-height: 160%;
}

.partners__list {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    gap: 30px;

}

.partner-card {
    flex: 0 0 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    border: 1px solid #EBEBF1;
    border-radius: 5px;
    cursor: pointer;
    padding-left: 18px;
    padding-right: 18px;

}

.partner-card:hover {
    box-shadow: -3px 0px 40px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(164, 164, 164, 0.03);
}


.partner-card img {
    max-height: 100%;
    max-width: 100%;
}


@media (max-width:1010px) {
    .container {
        max-width: 728px;
    }

    .main-title {
        font-size: 28px;
    }

    .partners__list {
        gap: 20px;
    }

    .logo {
        margin-right: 49.96px;
    }

    .user {
        margin-left: 60px;
    }

    .partner-card {
        flex: 0 0 229px;
        height: 120px;
        padding-left: 17px;
        padding-right: 17px;
    }

}



@media (max-width:730px) {

    .container {
        max-width: 335px;
    }

    .header__left {
        display: flex;
        justify-content: space-between;
    }

    .profile {
        display: block;
    }

    header {
        flex-direction: column;
        height: 105px;
    }

    .header__left {
        padding-top: 17px;
        padding-bottom: 16px;
    }

    .header__form {
        padding-top: 0;
    }

    .user {
        display: none;
    }

    .partners__list {
        flex-direction: column;
        gap: 20px;
        margin: 0 auto;
    }

    .partner-card {
        flex: 0 0 140px;
        padding-left: 44px;
        padding-right: 44px;
    }

    .search-form input {
        border: none;
        border-top: 1px solid #EBEBF1;
        background-position: 0px 11px;
        padding-left: 25px;
    }

}